body{
    font-family: 'Baloo Tammudu 2', cursive;
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    margin-top: 20px;
}

section, footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

section {
    margin-top: 20px;
    padding: 20px;
}

footer{
    text-align: right;
}

.imgHome{
    opacity: 60%;
    max-height: auto;
    max-height: 550px;
    max-width: 100%;
    -ms-zoom-animation: default;
}

.logo{
    max-height: 60px;
}

.list-group-item1{
    text-align: center;
}

